@import "../../styles/scss/mixins";
@import "../../styles/scss/colors";

.Senso {
  @include circle(60vh);
  @include vh_center;
  background-color: $senso-bg;

  .innerHole {
    @include circle(15vh);
    @include vh_center;
    background-color: $senso-bg;
    position: absolute;
    z-index: 900;
  }
}

@media only screen and (max-width: 1024px) {
  .Senso {
    @include circle(85vw);

    .innerHole {
      @include circle(15vw);
    }
  }
}