@import "../../../../styles/scss/mixins";
@import "../../../../styles/scss/colors";
$margin: 16px;
$corner-radius: 16px;

.ColorButton {
  position: absolute;
  width: calc(100% / 2 - 4 * #{$margin});
  @include square(calc(100% / 2 - 4 * #{$margin}));

  &:active {
    background-color: white !important;
  }

  &.top-left {
    background-color: $top-left-color-button-bg;
    border-radius: calc(100%) $corner-radius $corner-radius $corner-radius;
    top: 48px;
    left: 48px;

    &:hover {
      background-color: $top-left-color-button-hover-bg;
    }
  }

  &.top-right {
    background-color: $top-right-color-button-bg;
    border-radius: $corner-radius calc(100%) $corner-radius $corner-radius;
    top: 48px;
    left: calc(100% - (100% / 2) + #{$margin});

    &:hover {
      background-color: $top-right-color-button-hover-bg;
    }
  }

  &.bottom-left {
    background-color: $bottom-left-color-button-bg;
    border-radius: $corner-radius $corner-radius $corner-radius calc(100%);
    bottom: 48px;
    left: 48px;

    &:hover {
      background-color: $bottom-left-color-button-hover-bg;
    }
  }

  &.bottom-right {
    background-color: $bottom-right-color-button-bg;
    border-radius: $corner-radius $corner-radius calc(100%) $corner-radius;
    bottom: 48px;
    left: calc(100% - (100% / 2) + #{$margin});

    &:hover {
      background-color: $bottom-right-color-button-hover-bg;
    }
  }

}