.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;

  header {
    text-align: center;
    font-size: 36px;
    margin-top: 36px;

    .headerIcon {
      font-size: 64px;
    }

  }

  main {
    margin: 0;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}