#senso-container {
  height: 100%;

  #senso {
    border-radius: 50%;
    padding: 32px;
    width: 75vh;
    height: 75vh;
    background-color: #f4f4f4;

    .button-row {
      height: calc(50% - 12px);
      filter: drop-shadow(-1px 3px 5px rgba(0, 0, 0, 0.25));
    }
  }
}