#senso-container {
  height: 100%;
  width: 100%;
  flex: 1;
  position: relative;

  #action-items-menu {
    position: absolute;
    font-size: 2.5rem;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    //justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    z-index: 100;

    .action-button * {
      font-size: 36px;
    }

    #countdown {
      font-size: 8rem;
      font-weight: bold;
    }

    .feedback-icon {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 599px) {
    #action-items-menu {
      width: 36%;
      #countdown {
        font-size: 2rem !important;
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    #action-items-menu {
      width: 36%;
      #countdown {
        font-size: 5.5rem !important;
      }
    }
  }

  @media only screen and (min-width: 1201px) and (max-width: 1536px) {
    #action-items-menu {
      width: 25%;
      #countdown {
        font-size: 6rem !important;
      }
    }
  }

  #senso {
    border-radius: 50%;
    padding: 32px;
    height: 100%;
    width: 50%;
    //aspect-ratio: 1 / 1;

    @media (orientation: portrait) {
      width: 75vw;
      height: 75vw;
    }

    .button-row {
      z-index: 1;
      height: calc(50% - 12px);
      filter: drop-shadow(-1px 3px 5px rgba(0, 0, 0, 0.25));

      &.selected {
        z-index: 2;
      }
    }
  }

  @media only screen and (max-width: 599px) {
    #senso {
      padding: 12px;

      .button-row {
        height: calc(50% - 4px);
      }
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 1200px) {
    #senso {
      padding: 16px;

      .button-row {
        height: calc(50% - 6px);
      }
    }
  }

  @media only screen and (min-width: 1201px) and (max-width: 1536px) {
    #senso {
      padding: 24px;

      .button-row {
        height: calc(50% - 8px);
      }
    }
  }
}