.menuContainer {
  width: 384px;
  margin-top: 64px;
}

#menuBackdrop {
  background-color: transparent;
  z-index: 1;
}

@media screen and (max-width: 499px) {
  #accessibilityMenu {
    .MuiPaper-root {
      width: 100%;
    }
  }

  .menuContainer {
    width: 100%;
  }
}
