$senso-bg: black;

$top-left-color-button-bg: #ebb800;
$top-left-color-button-hover-bg: #ffd500;

$top-right-color-button-bg: #c72b00;
$top-right-color-button-hover-bg: #ff3700;

$bottom-left-color-button-bg: #8dad00;
$bottom-left-color-button-hover-bg: #c6f205;

$bottom-right-color-button-bg: #09639c;
$bottom-right-color-button-hover-bg: #009dff;

$color-color-button-pressed-bg: #fff;