$senso-bg: black;

$top-left-button-bg: #ebb800;
$top-left-button-pressed-bg: #ffd500;

$top-right-button-bg: #c72b00;
$top-right-button-pressed-bg: #ff3700;

$bottom-left-button-bg: #8dad00;
$bottom-left-button-pressed-bg: #c6f205;

$bottom-right-button-bg: #09639c;
$bottom-right-button-pressed-bg: #009dff;