@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("assets/fonts/Atkinson-Hyperlegible-Regular-102.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("assets/fonts/Atkinson-Hyperlegible-Bold-102.woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --contrastValue: 0%;
}

html {
  &,
  body {
    //overflow: auto;
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.monochrome {
      filter: grayscale(1);
    }

    &.high-contrast {
      filter: contrast(var(--contrastValue));

      & * {
        box-shadow: none !important;
        filter: none !important;
      }

      &.monochrome {
        filter: contrast(var(--contrastValue)) grayscale(1);
      }
    }

    &.low-saturation {
      filter: #{"saturate(var(--contrastValue, 0))"};

      &.monochrome {
        filter: #{"saturate(var(--contrastValue, 0))"} grayscale(1);
      }
    }

    &.high-saturation {
      filter: #{"saturate(var(--contrastValue, 0))"};

      &.monochrome {
        filter: #{"saturate(var(--contrastValue, 0))"} grayscale(1);
      }
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .equal-width-aspect-ratio {
    width: auto !important;
    aspect-ratio: 1 / 1;
  }

  iframe {
    border-style: none;
  }

  .hidden {
    display: none !important;
  }
}
//
//*::-webkit-scrollbar {
//  width: 6px;
//  right: 12px;
//}
//
//*::-webkit-scrollbar-thumb {
//  background-color: orange;
//  border-radius: 12px;
//}
