@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("assets/fonts/Atkinson-Hyperlegible-Regular-102.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("assets/fonts/Atkinson-Hyperlegible-Bold-102.woff");
  font-weight: bold;
  font-style: bold;
}

html {
  &,
  body {
    //overflow: auto;
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
//
//*::-webkit-scrollbar {
//  width: 6px;
//  right: 12px;
//}
//
//*::-webkit-scrollbar-thumb {
//  background-color: orange;
//  border-radius: 12px;
//}
