html {
  &, body {
    overflow: auto;
    margin: 0;
    font-family: "Inter",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h3, h4, h5, h6 {
    font-weight: 700 !important;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
}

